body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "header header"
        "main main"
        "main main"
        "footer footer";
}

.terug{
    grid-area: terug;
}

.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.blok1{
    grid-area: blok1;
}

.blok2{
    grid-area: blok2;
}

.blok3{
    grid-area: blok3;
}

.blok4{
    grid-area: blok4;
}

.grid-info{
    grid-area: grid-info;
}

.footer{
    grid-area: footer;
}


@media only screen and (min-width: 601px){
    body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header header header header"
        "main main main main"
        "grid-info grid-info grid-info grid-info";
    }

    .blok1, .blok2, .blok3, .blok4{
        height: 150px;
        width: 35%;
    }
}

@media only screen and (min-width: 1200px){
    .blok1, .blok2, .blok3, .blok4{
        height: 150px;
        width: 20%;
    }
}